<apex:page standardcontroller="contact" extensions="VFC_Contact_PDFEmailController"  sidebar="false" showHeader="false" action="{!pdfSelected}" >
<apex:form >
    <apex:PageBlock title="A Page Block">  
              <apex:outputpanel id="hello">
               <table><tr><td>

            &nbsp;&nbsp;&nbsp;
            <apex:image url="{!$Resource.kitchen}" width="100" height="100"/></td><td>
            &nbsp;&nbsp;&nbsp;
            <apex:image url="{!$Resource.bathroom}" width="100" height="100"/></td><td>
 
&nbsp;&nbsp;&nbsp;
            <apex:image url="{!$Resource.bathroom}" width="100" height="100"/></td></tr></table>
 

 
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <apex:inputCheckbox label="Kitchen1" value="{!Kitchen}"  />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:inputCheckbox label="images" value="{!Bathroom}" />
          
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <apex:inputCheckbox label="Hall" value="{!Hall}" />

                
            <apex:actionSupport event="onclick" action="{!PdfSelected}" rerender="hello" /> 
            <input type='button' onclick="window.close();" value='Close' /> 
            <apex:commandbutton action="{!PdfSelecteds}" value="Send email"  />
        </apex:outputpanel>
    </apex:PageBlock>
    
</apex:form> 

</apex:page>