<apex:page controller="HelloWorldWebService">
<apex:form >

  <apex:pageBlock title="Web service Call out." mode="edit">
        <apex:pageBlockButtons >
                <apex:commandButton value="display org1 message"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection title="Response" columns="1">
            <apex:outputText />                
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:form>
</apex:page>