<apex:page standardController="Opportunity" extensions="OpportunityAttachRelatedListController">
<script src="/soap/ajax/23.0/connection.js" type="text/javascript"></script>
<script src="/soap/ajax/23.0/apex.js" type="text/javascript"></script>

<script type="text/javascript">      
        function onViewDelAttach(strGetVal,str)
        {
            if(str=='Del' || str=='Attach')
            window.open(strGetVal,'_top');
            else if(str=='View')
            window.open(strGetVal,'_blank');            
        }   
      </script>  
      
 <script>
 function onDeleteCall(attchId,message){
    var SOQLQuery = "SELECT Id,Opportunity__c FROM Opportunity_Attachment__c where ID='"+attchId+"' Limit 1";
    var result = sforce.connection.query(SOQLQuery);
    records = result.getArray("records");
    
    var QuoteObjList ="SELECT Id,Send_To_Mail__c FROM Quote where OpportunityId='"+records[0].Opportunity__c+"'";
    var result1 = sforce.connection.query(QuoteObjList);
    
    records1 = result1.getArray("records");
    var prevent =false;
    
    for(i=0;i<records1.length;i++){
     
     if(records1[i].Send_To_Mail__c=='true'){
     prevent=true;
     break;
     } 
   }
   if(prevent){
     alert(message);
    }else {
      methodOneInJavascript(attchId);
   }
 }
 </script>
<apex:form >
<apex:outputPanel id="jsalert">
<script>   
 function onControllerReturn() 
          {
            if({!alertMessage} != 'Success')
            alert('{!alertMessage}');
          } 
  </script>
</apex:outputPanel>

        <apex:actionFunction action="{!delAttachement}" name="methodOneInJavascript" oncomplete="onViewDelAttach('{!strGetVal}','Del');onControllerReturn();" rerender="jsalert">
                <apex:param name="paramQuotAttachId" value="" assignTo="{!strOppAttachId}"/>
        </apex:actionFunction>

<apex:pageblock id="pb">
    
                        <apex:pageBlockButtons location="Top">
                        <apex:commandButton action="{!attachFile}" value="Attach File" oncomplete="onViewDelAttach('{!strGetVal}','Attach');" />
                        </apex:pageBlockButtons>
    
                       <apex:pageBlockTable value="{!QuoteAttachmentWrapper}" var="oppAttachWrapper" rendered="{!blRelatedListShow}" id="attchmenttableid">
                       
                                    <apex:column headerValue="Action">
                                       <!-- <apex:commandLink Value="View" style="color:#015BA7;"  action="{!viewAttachement}" oncomplete="onViewDelAttach('{!strGetVal}','View');">  -->
                                       <apex:commandLink Value="View" style="color:#015BA7;"  action="{!viewAttachement}" target="_blank">
                                       <apex:param name="attachid" value="{!oppAttachWrapper.attObj.id}"/>
                                       </apex:commandLink>&nbsp;|&nbsp;
                                       
                                       <a href="javascript:if (window.confirm('Are you sure?')) onDeleteCall('{!oppAttachWrapper.quaAttObj.id}','{!errorMessage}');" style="color:#015BA7;" >Del</a>
                                       
                                     </apex:column>
                                     <apex:column value="{!oppAttachWrapper.attObj.Name}"/>
                                     <apex:column value="{!oppAttachWrapper.quaAttObj.Type__c}"/>
                                     <apex:column value="{!oppAttachWrapper.attObj.CreatedById}"/>
                                     <apex:column value="{!oppAttachWrapper.attObj.CreatedDate}"/>
                                            
                       </apex:pageBlockTable>
                       
                        <apex:panelGrid columns="2"> 
                        <apex:commandlink action="{!previous}" rendered="{!blShowPrev}" rerender="pb"><b>Previous</b></apex:commandlink> 
                        <apex:commandlink action="{!next}" rendered="{!blShowNext}" rerender="pb"><b>Next</b></apex:commandlink>
                        </apex:panelGrid>
   
                <apex:outputLabel value="No records to display" rendered="{!NOT(blRelatedListShow)}"></apex:outputLabel>
   
</apex:pageblock>
 
</apex:form>

</apex:page>